##############
### DOCKER ###
##############

# UID=1000
# GID=1000

# MAIN_SERVER_IMAGE=ubuntu
# MAIN_SERVER_PORTS=80-89:80-89


##########
# SERVER #
##########

# PHPAPACHE_PORTS=80:80
# NODE_PORTS=3000:3000
# UBUNTU_PORTS=80:80


############
# DATABASE #
############

# MONGO_PORTS=27017:27017
# MYSQL_PORTS=3306:3306
# POSTGRES_PORTS=5432:5432
# REDIS_PORTS=6379:6379

# ADMIN #

# ADMINER_PORTS=8080:80
# MONGOEXPRESS_PORTS=8081:8081
# PHPMYADMIN_PORTS=8080:80
