
###
# COPY THIS SAMPLE FILE TO "compose.override.yml.local"
###

include:

##########
# SERVER #
##########

    # - .docker/compose-services/node.yml
    # - .docker/compose-services/php-apache.yml
    # - .docker/compose-services/ubuntu.yml

############
# DATABASE #
############

    # - .docker/compose-services/adminer.yml
    # - .docker/compose-services/mariadb.yml
    # - .docker/compose-services/mongo.yml
    # - .docker/compose-services/mysql.yml
    # - .docker/compose-services/postgres.yml
    # - .docker/compose-services/redis.yml